In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [4]:
df = pd.read_csv('taxi_zone_lookup.csv')

In [18]:
print(pd.io.sql.get_schema(df, name='zone_lookup'))

CREATE TABLE "zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [19]:
from sqlalchemy import create_engine

In [20]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ny_taxi')

In [21]:
engine.connect()

In [22]:
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=100000)

In [23]:
df = next(df_iter)

In [24]:
len(df)

265

In [25]:
df.head(n=0).to_sql('zone_lookup', con=engine, if_exists='replace')

0

In [26]:
%time df.to_sql(name='zone_lookup', con=engine, if_exists='append')

CPU times: user 13 ms, sys: 1.92 ms, total: 14.9 ms
Wall time: 24.1 ms

265

In [27]:
from time import time

In [28]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.to_sql(name='zone_lookup', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

StopIteration: